.footer {
  display: flex;
  text-align: center;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  color: white;
  text-align: white;
  height: 563px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: lighter;
  width: 100%; }
  .footer p {
    display: flex;
    text-align: center;
    color: white; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%; }

.header__navbar {
  width: 100%;
  background-color: transparent;
  text-align: center;
  padding: 5px; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white; }

/*------------------------------------ Pag INICIO-------------*/
.encabezado {
  background-image: url(./paginas/Imagenes/termas-de-chajari-entre-fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }

.index h1 p {
  color: white;
  font-family: 'Judson', serif;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: lighter; }

.main__index {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-left: 60px; }

.main {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 10%; }

.bg-light {
  text-decoration: none; }

h1 {
  text-align: center; }

img {
  background-size: cover; }

h2 {
  color: white;
  height: 50px;
  text-align: center; }

.encabezado {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

a-p {
  color: white;
  height: 100px;
  text-align: center;
  text-decoration: none; }

body {
  font-family: 'Cabin', sans-serif;
  background-color: #138d75;
  position: relative;
  padding-bottom: 4em;
  min-height: 100vh;
  max-width: 100%; }

main {
  display: flex;
  color: white;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background: url(); }

.div ul li {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center; }

div ul li a {
  color: white;
  display: inline-block;
  margin: 0 5px;
  height: 50px;
  text-align: center; }

.img-corousel-custom {
  width: 80px;
  height: 300px;
  object-fit: cover; }

img {
  background-size: cover;
  height: 90%;
  width: 100%;
  border-radius: 50%; }

h2 {
  height: 30px;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: #1dabd1;
  animation: animacion 2s linear infinite; }

@keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0.6), 0 0 0 0 rgba(29, 171, 209, 0.6); }
  30% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0.6), 0 0 0 0 rgba(29, 171, 209, 0.6); }
  65% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0.6), 0 0 0 30px rgba(29, 171, 209, 0.6); }
  100% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0.6), 0 0 0 30px rgba(29, 171, 209, 0.6); } }
