.main{
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/GXOT3LPCSRAWRBLHATWVW3V3LM.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    }   