.gastronomia{
    background-image: url(https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/198292311.jpg?k=c9d9b75620a596b710491471aa5dc3849f6eb98493258c1a3e7953035ae574c8&o=);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    }   