.container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSWuLqFueS6aExwbeuuI-bLf1USLkoyZ1aGQ&usqp=CAU)
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    }   