.lugares__camping h2 {
            color: white;
            font-family:'Judson', serif;
            font-size: 30px;
            text-align: center;
            margin-top: 40px;
            font-weight: lighter;
    
    }
  .lugares__container{
                display: flex;
                justify-content: center;
                width: 100%;
  }  





.galery .container-galery {
    font-family:'Judson', serif;
    display: flex;
    flex-direction: column;
}
     
    