.footer {
    display: flex;
    text-align: center;
    padding: 72px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:transparent;
    color: white;
    height: 563px;
    margin-top: 446px;
    font-size: 20px;
    font-weight: lighter;
    width: 51%;
} 
    p{
        display: flex;
        text-align: center;
        color: white;}
        
